<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DiveDeep</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DiveDeep.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet" integrity="sha512-vF...=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary shadow-sm mb-3 py-3">
            <div class="container-fluid">
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav"
                        aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-center" id="mainNav">
                    <ul class="navbar-nav gap-4 align-items-center">
                        <!-- Logo -->
                        <li class="nav-item nav-logo">
                            <a class="nav-link p-0" asp-controller="Home" asp-action="Index">
                                <div class="logo-badge">
                                    <img src="/Images/divedeeplogoPNG.png" alt="DiveDeep logo" />
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-semibold text-white" asp-controller="Categories" asp-action="BCD">BCD</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-semibold text-white" asp-controller="Categories" asp-action="Dykkerdragter">Dykkerdragter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-semibold text-white" asp-controller="Categories" asp-action="Tanke">Tanke</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-semibold text-white" asp-controller="Categories" asp-action="Regulatorsæt">Regulatorsæt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-semibold text-white" asp-controller="Categories" asp-action="MaskerSnorkler">Masker/Snorkler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-semibold text-white" asp-controller="Categories" asp-action="Finner">Finner</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-semibold text-white" asp-controller="Categories" asp-action="DykkerSæt">Komplet dykkersæt</a>
                        </li>
                        <li class="nav-item nav-cart">
                            <a class="nav-link fw-semibold text-white" asp-controller="Order" asp-action="Kurv" asp-route-id="1"><i class="fa-solid fa-cart-shopping"></i></a>
                        </li>
                    </ul>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    @RenderSection("Hero", required: false)

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-primary text-center text-lg-start text-white" style="background: linear-gradient(to top right, #23aed9, #2a5298);">
            <!-- Grid container -->
            <div class="container p-4">
                <!--Grid row-->
                <div class="row my-4">
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

                        <div class="d-flex align-items-center justify-content-center mb-2">
                        <a asp-controller="Home" asp-action="Index">
                            <div class="logo-badge">
                                <img src="/Images/divedeeplogoPNG.png" alt="DiveDeep logo" />
                            </div>
                        </a>
                        </div>
                        <p class="text-center fw-bold">Udlejning af kvalitetsdykkerudstyr</p>

                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mb-4">Åbningstider</h5>

                        <ul class="list-unstyled">
                            <li class="mb-2">
                                <p class="text-white"><i class="fa-solid fa-clock pe-2"></i>Mandag-fredag: 10:00 - 17:30</p>
                            </li>
                            <li class="mb-2">
                                <p class="text-white"><i class="fa-solid fa-clock pe-2"></i>Lørdag: 10:00 - 14:00</p>
                            </li>
                            <li class="mb-2">
                                <p class="text-white"><i class="fa-solid fa-clock pe-2"></i>Søndag: Lukket</p>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mb-4">Information</h5>

                        <ul class="list-unstyled">
                            <li class="mb-2">
                            <a asp-controller="Home" asp-action="Om" class="text-white"><i class="fa-solid fa-star pe-2"></i>Vores løfte</a>
                            </li>
                            <li class="mb-2">
                            <a asp-controller="Home" asp-action="FAQ" class="text-white"><i class="fa-solid fa-circle-question pe-2"></i>FAQ</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-white"><i class="fa-solid fa-star pe-2"></i>Anmeldelser</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mb-4">Kontakt</h5>

                        <ul class="list-unstyled">
                            <li>
                                <p><i class="fas fa-map-marker-alt pe-2"></i>Dykkervej 10, 5000 Odense C</p>
                            </li>
                            <li>
                                <p><i class="fas fa-phone pe-2"></i>+45 60708090</p>
                            </li>
                            <li>
                                <p><i class="fas fa-envelope pe-2"></i>info@divedeep.dk </p>
                            </li>
                            <li>
                                <p><i class="fas fa-building pe-2"></i>81828384</p>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Grid container -->
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            &copy; 2025 Dive Deep. All rights reserved
            </div>
            <!-- Copyright -->
        </footer>
    <!-- End of .container -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
