@using Microsoft.AspNetCore.Identity
@using DiveDeep.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle d-flex align-items-center"
           href="#" id="userMenu" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-regular fa-user me-2"></i>
            <span class="d-none d-sm-inline">
                @(SignInManager.IsSignedIn(User) ? UserManager.GetUserName(User) : "Konto")
            </span>
        </a>

        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
            @if (SignInManager.IsSignedIn(User))
            {
                <li>
                    <a class="dropdown-item"
                       asp-area="Identity" asp-page="/Account/Manage/Index">
                        Min profil
                    </a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                    <a class="dropdown-item"
                       asp-controller="Order" asp-action="MineOrdrer">
                        Mine ordrer
                    </a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                    <form class="px-3 m-0"
                          asp-area="Identity"
                          asp-page="/Account/Logout"
                          asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"
                          method="post">
                        <button type="submit" class="dropdown-item p-0">
                            Log ud
                        </button>
                    </form>
                </li>
            }
            else
            {
                <li>
                    <a class="dropdown-item"
                       id="login"
                       asp-area="Identity" asp-page="/Account/Login">
                        Log ind
                    </a>
                </li>
                <li>
                    <a class="dropdown-item"
                       id="register"
                       asp-area="Identity" asp-page="/Account/Register">
                        Opret konto
                    </a>
                </li>
            }
        </ul>
    </li>

@* <ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul> *@
