@{
    ViewData["Title"] = "Om";
}
<!-- About 1 - Bootstrap Brain Component -->
<section class="py-3 py-md-5">
    <div class="container">
        <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
            <div class="col-12 col-lg-6 col-xl-5">
                <img class="img-fluid mb-2" style="border-radius: 20px;" loading="lazy" src="/Images/Diver2.png" alt="Billede af Stig, ejer af DiveDeep">
                <h5>Stig Jespersen, 39 år</h5>
                <h6 class="text-secondary">Professionel dykker siden 2011 og stifter af DiveDeep</h6>
            </div>
            <div class="col-12 col-lg-6 col-xl-7">
                <div class="row justify-content-xl-center">
                    <div class="col-12 col-xl-11">
                        <h2 class="mb-2">Vores løfte</h2>
                        <p class="lead fs-4 mb-3">Hos DiveDeep tror vi på, at alle skal have muligheden for at opleve den fantastiske verden under havoverfladen.<br />Vi udlejer pålideligt dykkerudstyr af høj kvalitet, så du kan fokusere på dit eventyr frem for at investere i dyrt udstyr, der ofte kun bruges få gange om året.</p>
                        <p class="mb-5">Vores mission er at gøre dykning enkelt, sikkert og tilgængeligt. Alt udstyr bliver løbende serviceret og gennemgået, og vi står klar med rådgivning, så du får præcis det, du har brug for – uanset om du er nybegynder eller erfaren dykker.</p>
                        <div class="row gy-4 gy-md-0 gx-xxl-5X">
                            <div class="col-12 col-md-6">
                                <div class="d-flex">
                                    <div class="me-2 text-primary">
                                        <i class="fa-solid fa-anchor fa-2x" style="color: #1ca1e3;"></i>
                                    </div>
                                    <div>
                                        <h5 class="h5 mb-2">Fleksibel udlejning</h5>
                                        <p class="text-secondary mb-0">Vi tilbyder lejeperioder, der passer til dit behov – om det er en enkelt dagstur eller en hel ferie. Du betaler kun for det, du faktisk bruger.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="d-flex">
                                    <div class="me-2 text-primary">
                                        <i class="fa-solid fa-medal fa-2x" style="color: #1ca1e3;"></i>
                                    </div>
                                    <div>
                                        <h5 class="h5 mb-2">Sikkerhed og kvalitet</h5>
                                        <p class="text-secondary mb-0">Alt vores udstyr bliver løbende serviceret og gennemgået, så du kan føle dig tryg under vandet.<br />Hos os går sikkerhed altid hånd i hånd med oplevelsen.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>